name: Acceptance Tests

on:
  push:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      WALLARM_API_HOST: ${{ secrets.WALLARM_API_HOST }}
      WALLARM_API_UUID: ${{ secrets.WALLARM_API_UUID }}
      WALLARM_API_SECRET: ${{ secrets.WALLARM_API_SECRET }}
      WALLARM_GLOBAL_ADMIN: true

    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Run acceptance tests
      run: make testacc