name: Acceptance Tests
on:
  push:
    branches: [master, develop]
  pull_request:
    types:
      - opened
      - synchronize
  schedule:
    - cron: 0 12 * * 5
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      WALLARM_API_HOST: ${{ secrets.WALLARM_API_HOST }}
      WALLARM_API_TOKEN: ${{ secrets.WALLARM_API_TOKEN }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.24
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run acceptance tests
      run: make testacc
