name: Unit Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go: [1.24]
        os: [ubuntu-latest, macos-13]
        make_target: [test, lint]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code repository source code
        uses: actions/checkout@v4

      - name: Install golangci‑lint
        if: ${{ matrix.make_target == 'lint' }}
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
          # бинарь окажется в $(go env GOPATH)/bin, PATH уже прописан setup‑go

      - name: Set build variables
        run: |
          echo "MAKE_TARGET=${{ matrix.make_target }}" >> $GITHUB_ENV
          echo "GO_FLAGS=-mod=vendor" >> $GITHUB_ENV
          echo "GO111MODULE=on" >> $GITHUB_ENV
      - name: Run ${{matrix.make_target}}
        run: |
          make $MAKE_TARGET