name: Unit Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go: [1.13, 1.14, 1.15]
        os: [ubuntu-latest, macos-latest]
        make_target: [test, vet]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code repository source code
        uses: actions/checkout@v2

      - name: Set build variables
        run: |
          echo "MAKE_TARGET=${{ matrix.make_target }}" >> $GITHUB_ENV
          echo "GO_FLAGS=-mod=vendor" >> $GITHUB_ENV
          echo "GO111MODULE=on" >> $GITHUB_ENV
      - name: Run ${{matrix.make_target}}
        run: |
          make $MAKE_TARGET